<!DOCTYPE html>
<html>
  <head>
    <title>TaskPostApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<header>
		<div class="header-logo">
			<a href="/">TaskPostApp</a>
		</div>
		<ul class="header-menus">
			<li>
				<a href="/about">TaskPostAppとは</a>
			</li>
		</ul>
	</header>
	<%= yield %>
  </body>
</html>
